:root{
    --primary: rgb(50, 50, 50);
    --secondary: rgb(253, 40, 40);
    --shadow: 0 0 7px 5px rgba(0, 0, 0, 0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
}

section{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    transition: all 300ms 200ms ease-in;
    opacity: 0;
    z-index: 0;
}

.current-page{
    opacity: 1;
    z-index: 2;
}

.btn{
    margin-top: 3em;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--secondary);
    outline: none;
    border: none;
    font-size: 1.3em;
    padding: .7em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: all 500ms ease;
    transform-origin: center;
}

.btn:hover{
    background-color: #fff;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    transform: scale(1.1);
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.2);
}

.header{
    font-size: 5em;
    font-weight: 700;
    margin-top: 1em;
    color: var(--primary);
}